{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title%} {% endblock %}</title>
  {# <link href="{% static "css/blog.css" %}" rel="stylesheet"> #}
  {# <link rel="stylesheet" href="{% static 'blogApp/css/styles.css' %}"> #}
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


</head>
<body class="">
  <div class="flex max-h-screen	">
    <div id="content" class="flex-1 p-20 pr-12 ">
      {% block content %}
      {% endblock %}
    </div>
    <div id="" class="w-64 bg-gray-300  ">
      <h2 class="text-2xl text-red-700 pt-20">My blog</h2>
      <p>Lorem ipsum dolor sit</p>
    </div>
  </div>
  
</body>
</html>