{% extends "blog/base.html" %}

{% block title %}My Blog{% endblock %}

{% block content %}

<h1 class="text-3xl border-b-2 pb-3 mb-10 ">My Blog</h1>

{% for post in posts %}
<h2>
<a class="text-4xl text-blue-700" 
href="{{ post.get_absolute_url }}">
{{ post.title }}
</a>
</h2>
<p class="date text-sm pt-4 pb-4 italic">
Published {{ post.publish }} by {{ post.author }}
</p>
<article class="font-semibold text-2xl mb-6">
  {{ post.body|truncatewords:40|linebreaks }}
</article>


{% endfor %}

{% endblock %}